/* 
    Document   : style
    Created on : 19-nov-2012, 16:44:50
    Author     : Viviana
    Description:
        Purpose of the stylesheet follows.
*/
.boton_submit{
    font-family: Calibri !important;
    font-size: 12pt !important;
    background-color:#808080 !important;
    border: 1px #C0C0C0 solid !important;
    color: #ffffff !important;
    padding: 4px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin: 10px !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.destacado {

    color: rgb(237,125,49) !important;
    font-weight: bold;
}

.ui-selectmanycheckbox tbody tr {
    width: 300px !important;
}
root { 
    display: block;

}
body{
    font-family: Tahoma;
    font-size: 10pt;
    color: black; 
    /*background-image: url("img/metalazul.jpg");*/
    background-color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
    font-weight:normal !important;    
}
.header{
    background-image: url("img/cabezote_cambiable.jpg");    
    background-color: white;
    background-repeat: no-repeat;
    height: 75px;
    border-bottom: 1px solid #009900;
    text-align: right; vertical-align: bottom; padding-right: 5px; padding-bottom: 5px
}
.titulo{
    /*border-radius: 0px 15px 15px 0px;*/
    font-size: 16pt;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: top;
}
.tabla_filtros td{
    vertical-align: top; 
}

.tabla_filtros th{
    vertical-align: middle;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px;
    text-align: left;
    padding-bottom: 10px;
}

label{
    padding-right: 10px;
}
.required{
    /*color: firebrick;*/
    background-image: url("img/required.png");
    background-position: right;
    background-repeat: no-repeat;
}

.userStatus{
    /* background-color: appworkspace;*/   
    padding-left: 10px;
    padding-right: 10px; 
    /*border-bottom: 1px cornflowerblue solid;*/
    color:white; 
    font-size: 9pt;
    font-weight: bold;
    height: 30px;
}
.contenido td{

    vertical-align: top;

}
.contenido{
    background-color: white;
    font-size: 9pt;
    color:black;
    vertical-align: top;
    height: 437px;
    padding: 25px;    
}

.menuHeader{
    font-size: 16pt;
    color: white;
}

button[type="submit"],input[type="submit"],input[type="button"]{
    font-family: Calibri !important;
    font-size: 12pt !important;
    background:#808080 !important;
    border: 1px #C0C0C0 solid !important;
    color: #ffffff !important;
    padding: 4px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin: 10px !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.tabla_login{
    border: 1px cornflowerblue solid;
}
/*.tabla_login td{
    vertical-align: top;
}*/
.tabla_login th{
    background-color:cornflowerblue;        
    color:white;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}
.tabla_login tfoot td{
    text-align: center;
}
.pie{
    height: 30px;
    font-size: 10pt;
    text-align: center;
    background-color: #D2D5DF;

}
.ui-datatable table{
    border: 1px !important;
}
div.tabla_lista td{
    background-color: white;
}

.tabla_lista{
    border: 0px;

}

td.menuLeft th.ui-state-default{
    background-color: #F3F3F3 !important;
    background-image: none;
    font-size: 16pt;
    font-weight: normal;
    border: 0px;
    color: black;
}

th.ui-state-default{
    background-color: #253979 !important;
    color: white !important;
    background-image: none;
}
div.ui-dialog-content th.ui-state-default{
    background-color: #253979 !important;
    color: white !important;
    background-image: none;
    font-weight: bold;
}
.menuLeft th.ui-state-default{
    background-color: #253979 !important;
    color: black !important;
    background-image: none;
}
div.ui-dt-c{
    padding-left: 20px;
}
.ui-datatable .ui-sortable-column div.ui-dt-c{
    padding-right: 15px !important;
}
.ui-state-default .ui-icon{

}

tr.ui-datatable-odd{
    background-color: white !important;
}

.ui-droppable th{
    background-color: #253979 !important;        
    background-image: none;
}
.ui-draggable th{
    background-color: #253979 !important;        
    background-image: none;
}

.tabla_lista th{
    background-color:#253979 !important;        
    color:white;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
    font-size: 8pt;
}
.tabla_lista td{
    color:black;
    padding: 3px;
    font-size: 8pt;
}
.tabla_lista a{
    font-size: 8pt;
    color: #474cc0;
    text-decoration: none;
    font-weight: bold;
}

.tabla_formulario td{
    padding: 4px;
}
.tabla_formulario label{
    color:black;
}

/*tfoot{
    text-align: center;
}*/


.error{
    color: red;
    font-size: 10px;
    font-style: italic;
}

.msgsInfo {
    color: #316293;
    font-size:10px;
    border: 1px solid #316293;
}

.msgsError {
    color: firebrick;
    font-size:10px;
    text-align: center;
    border: 1px solid #316293;
}

.msgsWarn {
    border: 1px solid goldenrod;
}

.menuLeft{    
    background-color: #F3F3F3;
    min-width: 250px;


}

td.menuLeft .ui-widget-content{
    border: 0px !important;
}
.tabla_filtros select{
    /*width: auto; min-
    max-width: 180px;*/
    width: 153px; 
}
.tabla_formulario select{
    /*width: auto; min-
    max-width: 180px;*/
    width: 153px; 
}
.tabla_formulario{
    width:100%;
}
span.date{
    width: 170px;
    display: inline-block;
}
.date input{
    width: 118px;
}
.date select{
    width: 70px;
}
.menu_lat{
    font-size: 9pt;
    background-color: #F3F3F3 !important;
}
.menu_lat a{
    font-size: 9pt !important;
    text-decoration: none;
    color:black;
    border: 0px !important;        
}

.ui-treetable-data td{
    border: 0px !important;
    border-color: red !important;
}


.menulat_sel
{
    color:cornflowerblue;
    font-size: 9pt;
    font-weight: bold;

}

select.selectOneMenu50px{
    width: 50px;
}

.ui-datatable-data-empty td{
    font-weight: bold !important;
    text-align: center !important;
    font-size: 12pt !important;
}

.ui-selectonemenu-panel{
    overflow-x: hidden !important;
}

.ui-selectmanycheckbox td{
    font-size: 10px !important;
}

.divOverFlow{

    overflow-x: auto;
    height: auto;
    min-height: 400px;
    padding-bottom: 30px;
}

.ui-icon-arrowthick-1-n{
    background-image: none !important;
}

.textAncho{
    width: 300px;
}

.fontBigRed{
    font-size: 14px;
    color: red;
}

.fontBig{
    font-size: 14px;
}

.tablaVencimientos td{
    font-size: 14px;
    text-align: center;
}

.tablaVencimientos input[type="submit"]{
    margin: 0px;
}
.tablaColapsa table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.descripcionTd
{
    height:100px;
    overflow-y: auto;
    display:block;
    font-size:12px;

}

.descripcionTd::-webkit-scrollbar {
    width:12px;
}
.descripcionTd::-webkit-scrollbar {
    width: 12px;
}
.descripcionTd::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.descripcionTd::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.descripcionTd::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.descripcionTd::-moz-scrollbar {
    width:12px;
}
.descripcionTd::-moz-scrollbar {
    width: 12px;
}
.descripcionTd::-moz-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.descripcionTd::-moz-scrollbar-thumb {
    background-color: #ccc;
}
.descripcionTd::-moz-scrollbar-thumb:hover {
    background-color: #aaa;
}
.marginTop{
    margin-top:30px;    
}
.bold
{
    font-weight: bold;    
}
.red
{
    color:#A90512;   
}
.center
{
    text-align:center;    
}

.asigned {
    background-color: #777373 !important;
}

.vencido{
    color: red !important;
}
.por-vencer{
    color: #ffa500 !important;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper  
{  
    overflow: auto;  
    width: 100% !important;  
    height: 100%; padding-bottom:5px;  
    font-size: 12px !important;
}   

.datatable {  
    padding-left: 15px;  
    padding-right: 15px;  
    width: 100% !important;
}

.ui-datatable table {
    border-collapse: collapse;
    width: 100% !important;
}

.forty-percent {
    width: 40%;
}

.fivety-percent {
    width: 50%;
    height: 50%;
}

.sixty-percent {
    width: 60%;
}

.top-alignment {
    vertical-align: top;
}

.ui-widget-header {
    color: #253979 !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #253979;
    background: #253979;
    font-weight: bold;
    color: #ffffff;
}

button[type="submit"], input[type="submit"], input[type="button"] {
    font-family: Calibri !important;
    font-size: 12pt !important;
    background-color: #253979 !important;
    border: 1px #253979 solid !important;
    color: #ffffff !important;
    padding: 4px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin: 10px !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

button[type="reset"], input[type="reset"], input[type="reset"] {
    font-family: Calibri !important;
    font-size: 12pt !important;
    background: #253979 !important;
    border: 1px #253979 solid !important;
    color: #ffffff !important;
    padding: 4px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin: 10px !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*
.ui-panelmenu-content, .ui-widget-content, .ui-helper-hidden {
    border: 1px solid #aaaaaa;
    background: #e69700 !important;
    color: #222222;
}

.ui-panelmenu-content .ui-widget-content .ui-helper-hidden {
    border: 1px solid #aaaaaa;
    background: #e69700 !important;
    color: #222222;
}

.ui-panelmenu-content, .ui-widget-content, .ui-helper-hidden {
    border: 1px solid #aaaaaa;
    background: #e69700 !important;
    color: #222222;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #e69700 !important;
    color: #222222;
}*/



.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    color: #253979;
}

.ui-datatable thead th .ui-column-title {
    font-weight:bold;
    text-transform: uppercase;
    font-size: 0.8em !important;
}

.ui-inputfield .ui-inputtextarea .ui-state-hover{
    background: #fff !important;
} 

.ui-widget-overlay {
    background: #253979 !important;
    opacity: .10;
    filter: Alpha(Opacity=10);
}